@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
	margin: 0;
	padding: 0;
	box-shadow: border-box;
}

:root {
  --primary-font: 'Poppins', sans-serif;
  --nav-font: 'Orbitron', sans-serif;
  --primary-color: #E5E5E5;
  --secondary-color: #000000;
  --collaspe_btn-color: #E9E9E9;
  --solid-blue: #01A9B4;
  --white-color: #fff;
  --button-text-color: #D8F7F9;
  --hr-color: #FBFD8A;
}

body{
	background-color: var(--primary-color);
}
/*buttons*/
.collapse-btn{
	background: var(--collaspe_btn-color);
	border: none;
	padding: 1rem 4rem;
	border-radius: 0px 0px 20px 20px;
	outline: none;
}
.collapse-vector{
	padding: 0.5rem 0;
	height: 1.9rem;
}
.collapse-btn:active{
	outline: none;
}
.subscribe-btn{
	border-radius: 20px;
	background: #000000;
	justify-content: flex-start;

}
.wrapper{
		margin: 0;	
	}
@media all and (min-width: 0px){
	header{
		background-color: #E4F1F3;
		height: 80vh;
		margin: 0;
		width: 100%;
	}
	.logo{
		display: grid;
		justify-content: center;
		font-family: var(--primary-font);
		font-style: normal;
		font-weight: 500;
		font-size: 0.9rem;
		line-height: 1.5rem;
		margin: 0;
	}
	.company-logo{
		/*height: 50px;*/
	}
	.collapse-btn{	
		padding: 0.5rem 4rem;
		border-radius: 0px 0px 25px 25px;
	}
	.align{
		display: grid;
		justify-content: flex-start;
	}
	.cover{
		
	}
	.cover-heading{
		font-style: normal;
		font-weight: 500;
		font-size: 1.6rem;
		line-height: 2.8rem;
		text-align: center;
	}
	.content-text{
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 21px;
		text-align: center;
	}
	.email{
		border-radius: 20px;
		background-color: transparent;
		padding: 5px 10px;

	}
	.form{
		display: grid;
		width: 100%;
		padding: 0 50px;
	}
	.subscribe-btn{
		border-radius: 20px;
		background: #000000;
		justify-content: center;
		border-radius: 20px;


	}
	.size{
		height: 4.5rem;
	}
	.rotors{
		display: grid;
		justify-content: flex-end;
		width: 100%;
	}
	.first-rotor{
		display: grid;
		justify-content: center;
	}
	.test-img{
		animation: spin 4s linear infinite;
		margin: -35px 0 -50px 0;

	}
	.test-img2{
		animation: spine 4s linear infinite;
		margin: 0px 0 25px -30px;
		
	}
	.test-img3{
		animation: spini 4s linear infinite;
		margin: 10px 0 0 -25px
		 
	}
	@keyframes spin {
	  0% { transform: rotate(360deg); }
	  100% { transform: rotate(0deg); }
	}

	@keyframes spine {
	  100% { transform: rotate(360deg); }
	  0% { transform: rotate(0deg); }
	}


	@keyframes spini {
	  0% { transform: rotate(360deg); }
	  100% { transform: rotate(0deg); }
	}
	.tt{
		background: white;
		padding: 50px;
		border-radius: 30px;
	}
}

@media all and (min-width: 768px){
	.hide{
		display: none;
	}
	.size{
		height: 8.5rem;
	}
}

@media all and (min-width: 1024px){
	.size{
		height: 12.5rem;
	}
}
