@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
*{
	margin: 0;
	padding: 0;
	box-shadow: border-box;
}
:root {
  --primary-font: 'Poppins', sans-serif;
  --nav-font: 'Orbitron', sans-serif;
  --primary-color: #E5E5E5;
  --secondary-color: #000000;
  --collaspe_btn-color: #E9E9E9;
  --solid-blue: #01A9B4;
  --white-color: #FFFFFF;
  --button-text-color: #D8F7F9;
  --hr-color: #FBFD8A;
}
.preload{
	position: fixed;
	top: 0;
	z-index: 1999;
	width: 100%;
	height: 100vh;
	background: var(--primary-color);
	display: none;
	justify-content: center;
	align-items: center;
}
.press{
	animation: motor 2s ease infinite alternate;
}

@keyframes motor{
	from{
		transform: translateY(0px);
	}
	to{
		transform: translateY(50px);
	}
}

body{
	background-color: var(--primary-color);
	color: var(--secondary-color);
	font-family: var(--primary-font);
}
/*buttons*/
.collapse-btn{
	background: var(--collaspe_btn-color);
	border: none;
	/*padding: 1rem 4rem;*/
	border-radius: 0 0 1.25rem 1.25rem;
	outline: none;
}
.collapse-vector{
	padding: 0.5rem 0;
	height: 1.9rem;
}
.collapse-btn:active{
	outline: none;
}
.subscribe-btn{
	border-radius: 0.625rem;
	font-family: var(--primary-font);
	text-align: center;
}
@keyframes subcribe{
	from{
		transform: translateY(0px);
	}
	to{
		transform: translateY(50px);
	}
}
.preview-btn, .preview-btn a{
	font-family: var(--primary-font);
	border-radius: 0.625rem;
	color: var(--white-color);
}
.btn-text{
	text-align: right;
}
.wrapper{
		margin: 0;	
	}
@media all and (min-width: 0px){
	header{
		background: url(../images/cover23.jpg);
		background-size: cover;
		color: var(--primary-color);  
		filter: saturate(90%);
		height: 100%;
		margin: 0;
		width: 100%;
	}
	.logo{
		display: grid;
		justify-content: center;
		font-family: var(--nav-font);
		font-style: normal;
		font-weight: 500;
		font-size: 0.9rem;
		line-height: 1.5rem;
		margin: 0;
	}
	.company-logo{
		margin-top: 10px;
	}
	.collapse-btn{	
		padding: 0.5rem 4rem;
		border-radius: 0 0 1.563rem 1.563rem;
	}
	.align{
		display: grid;
		justify-content: flex-start;
	}
	.cover{
		
	}
	.cover-heading{
		font-family: var(--primary-font);
		font-style: normal;
		font-weight: 500;
		font-size: 1.6rem;
		line-height: 2.8rem;
		text-align: center;
	}
	.content-text{
		font-style: normal;
		font-weight: normal;
		font-size: 0.875rem;
		line-height: 21px;
		text-align: center;
	}
	.email{
		border-radius: 0.625rem;
		font-family: var(--primary-font);
		background-color: var(--white-color);
		padding: 0.313rem 0.625rem;
		border-color: var(--white-color);
		width: 100%;

	}
	.email::placeholder{
		font-family: var(--primary-font);
		color: var(--primary-color);
	}
	.form{
		display: grid;
		width: 100%;
		padding: 0 3.125rem;
	}
	.subscribe-btn{
		text-align: center;
	}
	.size{
		height: 4.5rem;
	}
	.prev{
		font-family: var(--primary-font);
		height: 100%;
		background-color: #803210;
		padding: 0.625rem 0.938rem;
		color: var(--white-color);
	}
	.prev-heading{
		font-family: var(--primary-font);
		font-size: 1.6rem;
	}
	.prev-text{
		font-family: var(--primary-font);
		text-align: left;
	}
	.rotors{
		background-color: transparent;
		filter: opacity(200%);
		display: grid;
		justify-content: flex-end;
		width: 100%;
		margin-top: -2.188rem;
	}
	.first-rotor{
		display: grid;
		justify-content: center;
	}
	.test-img{
		animation: spin 4s linear infinite;
		margin: 0 0 -3.125rem 0;

	}
	.test-img2{
		animation: spine 4s linear infinite;
		margin: 1.25rem 0 1.563rem -0.313rem;
		
	}
	.test-img3{
		animation: spini 4s linear infinite;
		margin: 0.625rem 0 0 -1.25rem;
		 
	}
	.hi1{
		background: url(../images/bg3.svg);
		background-size: 6.25rem;
		background-repeat: no-repeat;
		background-position: top right;
	}
	.hi{
		background: url(../images/bg3.svg);
		background-size: 100px;
		background-repeat: no-repeat;
	}
	@keyframes spin {
	  0% { transform: rotate(360deg); }
	  100% { transform: rotate(0deg); }
	}

	@keyframes spine {
	  100% { transform: rotate(360deg); }
	  0% { transform: rotate(0deg); }
	}


	@keyframes spini {
	  0% { transform: rotate(360deg); }
	  100% { transform: rotate(0deg); }
	}
	.tt{
		background: white;
		padding: 3.125rem;
		border-radius: 1.875rem;
	}
	.preview{
		/*padding: 1rem;*/
	}
	.preview-content{
		font-weight: normal;
		font-size: 0.813rem;
		line-height: 1.125rem;
		text-align: left;
	}
	.preview-content1{
		font-weight: normal;
		font-size: 13px;
		line-height: 18px;
		text-align: right;
	}
	.preview-btn{
		border-radius: 10px;
		font-size: 10px;
		line-height: 21px;
		color: #FFFFFF;
	}
	.mobile{
		background: var(--white-color);
		padding: 2.5rem 0;
	}
	.mobile1{
		padding: 2.5rem 0;
	}
	.app{
		height: 100%;
		width: 100%;
		transition: all 0.5s ease;
	}
	.app:hover{
		transform:  scale(1.2);
		transition: all 0.5s ease;

	}
	.foot{
		text-align: center;
		height: 10vh;
		background: var(--secondary-color);
		color: var(--primary-color);
		padding: 20px 0;
	}
	.hide1{
		display: none;
	}
	.notify{
		height: 30vh;
	}
	.notify-btn{
		margin-top: 5px;
	}
	.text1{
		text-align: left;
		font-family: var(--primary-font);
	}
	.timer{
		color: var(--white-color);
		padding: 10px 20px;
		font-family: var(--primary-font);
		font-size: 11px;
		text-align: center;
	}
	#thanks{
		height: 100%;
		display: grid;
		font: 16px/1.5 var(--primary-font);
		padding: 3rem 0.625rem;
	}
	.thanks{
		text-align: center;
	}
	.guy, .guy a, .guy a:hover{
		font: 14px/1.5 var(--primary-font);
		padding: 10px 30px;
		border-radius: 10px;
		outline: none;
		border: none;
		margin-top: 1rem;
		color: var(--primary-color);
		text-decoration: none;
	}
}
@media all and (min-width: 320px) and (min-height: 568px){
	header{
		height: 120vh;
	}
	.collapse-btn{	
		padding: 0.5rem 3rem 0.1rem 3rem;
		border-radius: 0px 0px 25px 25px;
	}
	.timer{
		font-size: 8px;
	}
}
@media all and (min-width: 375px) and (min-height: 667px){
	header{
		height: 100vh;
	}
	.mk{
		margin-left: 13px;
	}
	.timer{
		font-size: 8px;
	}
}
@media all and  (min-width: 375px) and (min-height: 812px){
	.collapse-btn{	
		padding: 0.5rem 4rem;
	}
	header{
		height: 80vh;
	}
	.prev{
		height: 20vh;
	}
	.notify{
		height: 20vh;
	}
	.mk{
		margin-left: 0;
	}
	.timer{
		font-size: 10px;
	}	
}
@media all and (min-width: 411px) and (min-height: 731px){
	header{
		height: 80vh;
	}
	.mk{
		margin-left: 30px;
	}
	.collapse-btn{
		padding: 0.5rem 3rem;
	}

}
@media all and (min-width: 414px){

}

@media all and (min-width: 768px){
	.mk{
		margin-left: 0;
	}
	header{
		height: 80vh;
		background-size: cover;
	}
	.logo{
		display: flex;
		font-size: 30px;
		line-height: 72px;
		padding: 1.5rem 1.5rem 1.5rem 6rem;
	}
	.company-logo{
		height: 70px;
		/*margin-right: 10px;*/
	}
	.cover{
		padding: 5px 30px;

	}
	.cover-heading{
		font-size: 30px;
		line-height: 55px;
		text-align: left;
	}
	.content-text{
		font-size: 23px;
		line-height: 30px;
		text-align: left;
	}
	.rotors{
		margin-top: -0px;
	}
	.test-img{
		margin: 0 0 -1rem 3.125rem;
	}
	.test-img2{
		margin: -1.825rem 0 0 0;
	}
	.test-img3{
		margin: -1.9rem 0 0 -2.075rem;
	}
	.hide{
		display: none;
	}
	.hide1{
		display: block;
	}
	.size{
		height: 8rem;
	}
	.align{
		justify-content: center;
		margin-right: 
	}
	.email{
		width: 50%;
		padding: 18px;
	}
	.subscribe-btn{
		width: 30%;
		padding: 15px;
	}
	.app{
		height: 25rem;
	}
	.preview-content1{
		font-size: 20px;
		line-height: 30px;
	}
	.preview-content{
		font-size: 20px;
		line-height: 30px;
	}
	.preview-btn{
		font-size: 24px;
		line-height: 36px;
		padding: 20px 40px;
	}
	.mobile{
		padding: 2.5rem 4rem;
		display: flex;
		align-items: center;
	}
	.mobile1{
		padding: 2.5rem 4rem;
		display: flex;
		align-items: center;
	}
	.notify{
		height: 30vh;
	}
	.notify-btn{
		padding: 20px;
	}
	.hey{
		background: url(../images/bg2.svg);
		background-size: cover;
	}
	.hi{
		background: url(../images/bg3.svg);
		background-size: 100px;
		background-repeat: no-repeat;
	}
	.hi1{
		background: url(../images/bg3.svg);
		background-size: 100px;
		background-repeat: no-repeat;
		background-position: top right;
	}
	.logo{
		height: 50%;
		font-size: 20px;
		align-items: center;
	}
}
@media all and (min-width: 768px) and (min-height: 1122px){
	.prev{
		height: 10vh;
	}
	.notify{
		height: 15vh;
	}
}
@media all and (min-width: 768px) and (min-height: 1322px){
	header{
		height: 50vh;
	}
}
@media all and (min-width: 1024px){
	header{
		height: 100vh;
	}
	.timer{
		padding: 10px 20px;
		font-size: 24px
	}
	.collapse-btn{	
		padding: 0.5rem 8rem;
	}
	.cover{
		margin-top: 100px;
	}
	.logo{
		padding-left: 0;
		font-size: 48px;
	}
	.company-logo{
		width: 300px;
	}
	.size{
		height: 12.5rem;
	}
	.cover-heading{
		font-size: 64px;
		line-height: 96px;
	}
	.content-text{
		font-size: 24px;
		line-height: 40px;
	}
	.test-img3{
		margin: -5.9rem 0 0 -3.075rem;
	}
	.preview-content1{
		font-size: 30px;
		line-height: 45px;
	}
	.preview-content{
		font-size: 30px;
		line-height: 45px;
	}
	.preview-btn{
		font-size: 24px;
		line-height: 36px;
		padding: 20px 40px;
	}
	.mobile{
		padding: 2.5rem 5rem;
		display: flex;
		align-items: center;
	}
	.mobile1{
		padding: 2.5rem 5rem;
		display: flex;
		align-items: center;
	}
	.app{
		height: 25rem;
	}
	.prev{
		font-family: var(--nav-font);
		height: 20vh;
		background-color: #973911;
		padding: 30px 40px;
		color: var(--white-color);
	}
	.notify{
		height: 30vh;
	}
	.notify-btn{
		padding: 20px;
	}
	.mobile, .mobile1{
		height: 80vh;
	}
	.preview-btn, .preview-btn a:hover{
		font-size: 18px;
		padding: 5px 15px;
		text-decoration: none;
	}
}
@media all and (min-width: 1024px) and (min-height: 768px){
	header{
		height: 160vh;
		background-size: cover;
	}
	.logo{
		padding-left: 40px;
		font-size: 38px;
	}
	.size{
		height: 11.5rem;
	}
}
@media all and (min-width: 1024px) and (min-height: 1366px){
	header{
		height: 100vh;
	}
	.size{
		height: 11.5rem;
	}
	.logo{
		padding-left: 40px;
		font-size: 24px;
	}
	.foot{
		font-size: 24px;
		line-height: 36px;
	}
}
@media all and (min-width: 1025px){
	header{
		height: 120vh;
	}
	.company-logo{
		height: 50px;
	}
	.logo{
		padding-left: 0px;
		font-size: 38px;
	}
}
